.add-button {
    cursor: pointer;
    color: #4CAF50; /* Green */
    background: inherit;
    border: none;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
}

.add-button:active {
    background-color: green;
}

