.header-component {
    background-color: rgb(93, 145, 247);
}

.header-container {
    margin: 0 auto;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 700px;
}

.add-plant-btn {
    cursor: pointer;
    margin: 0;
}

.add-plant-btn button {
    color: inherit;
    background: inherit;
    border: none;
    font-size: 16px;
    margin: 0;
}