.list-item {
    border: 1px solid rgb(40,40,40);
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    text-align: left;
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 400px;
}

.item {
    width: 100%;
    height: 35px;
    margin: 0 auto;
    padding: 0;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

.item-name {
    margin: 5px 10px;
    font-weight: 700;
}

.item-table {
    width: 100%;    
}

.item-table table {
    margin: 0;
    padding: 0;
    width: 100%;
}

.item-table tbody {
    display: flex;
    flex-direction: column;
}

.item-row {
    display: flex;
    justify-content: space-between;
}

.item-labels {
    margin: auto 25px;
}

.item-dates {
    margin: auto 6px;
}

.item-days {
    margin: auto 10px;
}

.item-data {
    font-weight: 700;
}

.time-bar {
    width: 100%;
    margin: 0 auto 30px;
    border-radius: 4px;
    height: 6vh;
    color: rgb(255, 255, 255);
}

.total-time {
    display: flex;
    width: 100%;
}

.veg-time {
    background-color: rgb(90, 153, 225);
    padding: 5px;
    height: 20px;
}

.flower-time {
    background-color: rgba(244, 146, 66, 0.8);
    padding: 5px;
    height: 20px;
}

.grow-time {
    background-color: rgb(50, 50, 50);
    padding: 5px;
    height: 20px;
    border-radius: 0 0 2px 2px;
}

