.settings-button {
    margin: 0 10px;
    padding: 0 7px;
    height: 100%;
}
.settings-button span {
    margin: 4px 0 0;
}

.settings-button ion-icon {
    position: relative;
    top: 25%;
}

.settings-dropdown {
    display: none;
    text-align: center;
    position: absolute;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 3px;
    color: black;
    background: white;
    margin: 10px -68px;
    width: 100px;
    cursor: pointer;
}

.settings-dropdown.visible {
    display: flex;
    flex-direction: column;
}

.settings-dropdown ul {
    padding: 0;
    list-style-type: none;
}

.settings-dropdown li {
    border-bottom: 1px solid rgb(175, 175, 175);
}

.settings-dropdown li:nth-last-child(1) {
    border-bottom: none;
}